div(class="row-fluid")
	div(class="span12")
		div(class="alert alert-error", ng-show="showError")
			{{errorMessage}}
		form(ng-submit="savePicture()")
			div
				label Title:
				input(class="input", type="text", ng-model="picture.title")
			div
				label Filename:
				input(class="input", type="text", ng-model="picture.filename")
			div
				label Tags:
				input(class="input", type="text", ng-model="picture.tags", disabled)
			div
				label Location:
				input(class="input", type="text", ng-model="picture.location")
			div
				label Number of People:
				input(class="input", type="number", ng-model="picture.numberOfPeople")
			div
				label Series:
				input(class="input", type="text", ng-model="picture.series")
			div
				label Camera Look
				label(class="checkbox")
					input(type="checkbox", ng-model="picture.cameraLook")
					p Looks in camera.
			div
				label Featured
				label(class="checkbox")
					input(type="checkbox", ng-model="picture.featured")
					p Is featured.
			div
				label Black & White
				label(class="checkbox")
					input(type="checkbox", ng-model="picture.blackWhite")
					p Is black & white.
			div
				label Gender
				label(class="radio inline")
					input(type="radio", ng-model="picture.gender", value="None")
					p None
				label(class="radio inline")
					input(type="radio", ng-model="picture.gender", value="Male")
					p Male
				label(class="radio inline")
					input(type="radio", ng-model="picture.gender", value="Female")
					p Female
				label(class="radio inline")
					input(type="radio", ng-model="picture.gender", value="Both")
					p Both
			div
				button(class="btn", type="submit") Save Picture
		div
			table(class="table table-hover adminlist")
				thead
					tr
						th Index
						th Thumb
						th Title
						th Filename
						th Series
						th Black & White
						th Location
						th Number of People
						th Camera Look
						th Gender
						th Featured
				tbody
					tr(ng-repeat="picture in pics", ng-controller="editController")
						td {{$index+1}}
						td(class="adminThumb")
							img(ng-src="/img/thumb/{{picture.filename}}.jpg")
						td 
							input(class="input-medium", type="text", ng-model="picture.title")
						td 
							input(class="input-medium", type="text", ng-model="picture.filename")
						td 
							input(class="input-medium", type="text", ng-model="picture.series")
						td 
							label(class="checkbox")
								input(type="checkbox", ng-model="picture.blackWhite")
						td 
							input(class="input-medium", type="text", ng-model="picture.location")
						td 
							input(class="input-mini", type="number", ng-model="picture.numberOfPeople")
						td 
							label(class="checkbox")
								input(type="checkbox", ng-model="picture.cameraLook")
						td
							label(class="radio inline")
								input(type="radio", ng-model="picture.gender", value="None")
								p N
							label(class="radio inline")
								input(type="radio", ng-model="picture.gender", value="Male")
								p M
							label(class="radio inline")
								input(type="radio", ng-model="picture.gender", value="Female")
								p F
							label(class="radio inline")
								input(type="radio", ng-model="picture.gender", value="Both")
								p B
						td 
							label(class="checkbox")
								input(type="checkbox", ng-model="picture.featured")
						td
							button(class="btn btn-success", ng-click="updatePicture()") Update