div(class="row-fluid")
	div(class="span12 textContent")
		p 
			| Questions? Comments? Assignments? Suggestions? Just Talk? <br />
			| Do not hesitate to contact me! 
		p e: 
			a(href="mailto:mellemansmaarten@gmail.com") mellemansmaarten(at)gmail.com 
		p t: (+32) 498 20 18 80
