div(class="headerWide")
    div(class="container")
    	div(class="row")
    		div(class="span12")
       			div(class="logo")
        			h1 One Sentence Journal
        		div(class="headerButtons")
        			button(class="btn btn-link", ng-hide="user.loggedin") Register / Login
        			button(class="btn btn-link", ng-show="user.loggedin") Logout
        			