div(class="row-fluid")
	div(class="span12")
		//div(class="search")
		//	input(type="text", placeholder="Search location", ng-model="query", ng-change="search()", class="searchField")
		//div
		//	label Camera Look
		//	label(class="radio inline")
		//		input(type="radio", ng-model="cameraLook", value="null", ng-change="search()")
		//		p Both
		//	label(class="radio inline")
		//		input(type="radio", ng-model="cameraLook", value="true", ng-change="search()")
		//		p Yes
		//	label(class="radio inline")
		//		input(type="radio", ng-model="cameraLook", value="false", ng-change="search()")
		//		p No
		div(class="filters")
			div(class="filter")
				a(title="All", ng-click="featured='null'; search()", ng-class="{active: featured == 'null'}") /All
				a(title="Featured", ng-click="featured='true'; search()", ng-class="{active: featured == 'true'}") /Featured
			div(class="filter")
				//a(title="Both", ui-jq="tooltip", ng-click="blackWhite='null'; search()") Both
				a(title="All", ng-click="blackWhite='null'; search()", ng-class="{active: blackWhite == 'null'}") /All
				a(title="Black & White", ng-click="blackWhite='true'; search()", ng-class="{active: blackWhite == 'true'}") /Black&White
				a(title="Color", ng-click="blackWhite='false'; search()", ng-class="{active: blackWhite == 'false'}") /Color
			div(class="filter")
				a(title="All", ng-click="goSeries('All')", ng-class="{active: series == 'null'}") /All
				a(title="Portraits", ng-click="goSeries('Portraits')", ng-class="{active: series == 'Portraits'}") /Portraits
				a(title="Places", ng-click="goSeries('Places')", ng-class="{active: series == 'Places'}") /Places
				a(title="Life", ng-click="goSeries('Life')", ng-class="{active: series == 'Life'}") /Life
				a(title="Ann", ng-click="goSeries('Ann')", ng-class="{active: series == 'Ann'}") /Ann
				a(title="Tara", ng-click="goSeries('Tara')", ng-class="{active: series == 'Tara'}") /Tara
				a(title="Robyn", ng-click="goSeries('Robyn')", ng-class="{active: series == 'Robyn'}") /Robyn
				a(title="WeddingMagda&Stef", ng-click="goSeries('WeddingMagdaStef')", ng-class="{active: series == 'WeddingMagdaStef'}") /WeddingMagda&Stef
				a(title="SintJoostTenNode", ng-click="goSeries('SJTN')", ng-class="{active: series == 'SJTN'}") /SintJoostTenNode


div(class="row-fluid")
	div(class="span12")
		div(class="menuThumb", ng-repeat="thumb in filteredPictures", ng-controller="thumbController")
			a(ng-click="goImage()")
				img(ng-src="/img/thumb/{{thumb.filename}}.jpg", alt="{{thumb.title}}")
