div(class="row-fluid")
	div(class="span4 dutch textContent")
		p(class="intro")
			|De opties hieronder zijn een selectie van het werk waarvoor ik het meeste gevraagd wordt, maar in principe 
			|zijn alle voorstellen welkom. Aarzel zeker niet om mij te 
			|<a ng-click="go('contact')">contacteren</a>
			|om te zien wat we kunnen uitwerken, en neem ook eens een kijkje bij mijn
			|<a ng-click="go('photobar')">PhotoBar</a>
			|project.
		h5 Photoshoot
		p
			| Voor photoshoot's werk ik vooral op <strong>locatie</strong>. In zowel Antwerpen als Leuven ken ik een heel aantal leuke plaatsen die hiervoor kunnen dienen, maar ook andere locatie's kunnen perfect indien je zelf een voorstel hebt. 
		p
			| Een photoshoot in de <strong>studio</strong> is ook mogelijk, voorlopig wel met beperkte mogelijkheden. Kijk zeker eens naar het project
			| <a ng-click="go('photobar')">PhotoBar</a>
			| waarbij je gedurende een beperkte periode voor een belachelijk laag bedrag een <strong>"mini-photoshoot"</strong> kan doen in een plaatselijke hippe coffeebar!
		h5 Architecture
		p Vanuit mijn achtergrond als architect weet ik architecturale projecten perfect vast te leggen. Hierbij maak ik een onderscheid tussen <strong>"high-end"</strong> en <strong>"low-end"</strong> opdrachten. 
				p(class="indent") * Bij <strong>"high-end"</strong> ligt de nadruk op kwaliteit, vooral geschikt voor architecten als uw foto's een blijvende indruk moeten nalaten. Extra aandacht wordt besteed aan het inleven ter plaatste en het zoeken naar originele, impactvolle invalshoeken.
				p(class="indent") * Bij <strong>"low-end"</strong> ligt de nadruk op efficientie, vooral geschikt voor de immo sector. Zonder in te boeten aan fotografische kwaliteit wordt er gestreefd naar een evenwicht tussen snelheid en informatieve, verkopende foto's. 
		h5 Extras
		p
			| Naast fotografie kan je bij mij ook terecht voor het ontwerp en drukwerk van 
			| <strong>uitnodigingen</strong> en <strong>bedankkaartjes</strong>. 
			| Ook (kleine) <strong>website's</strong> behoren tot de mogelijkheden.


