div(class="row")
	div(class="span4 offset4")
		div(class="alert alert-error", ng-show="showError")
			{{errorMessage}}
		div(class="alert alert-success", ng-show="showSuccess")
			{{successMessage}}
		form
			div
				label Username:
				input(class="input-block-level", type="text", ng-model="profile.username", disabled)
				p onesentencejournal.com/journal/{{profile.username}}
			div
				label Name:
				input(class="input-block-level", type="text", ng-model="profile.name.first", placeholder="First name")
				input(class="input-block-level", type="text", ng-model="profile.name.last", placeholder="Last name")
			div
				label Email:
				input(class="input-block-level", type="text", ng-model="profile.email")
				label(class="checkbox")
					input(type="checkbox", ng-model="profile.discoverableByEmail")
					p Others can find me through my email address.
			div
				label Change Password:
				input(class="input-block-level", type="password", ng-model="profile.passwordOld", placeholder="Current password")
				input(class="input-block-level", type="password", ng-model="profile.passwordNew", placeholder="New password")
			div
				label Privacy:
				label(class="checkbox")
					input(type="checkbox", ng-model="profile.isPrivate")
					p Make my journal private.
			div
				label Social:
				button(class="btn fb-btn", ng-click="goFacebook()") Connect with Facebook
		div
			button(class="btn", ng-click="updateProfile()") Save

