!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    base(href='/')
    title Maarten Mellemans Photography
    meta(name="description", content="Maarten Mellemans Photography")    
    
    link(rel='stylesheet/less', href='/less/bootstrap/bootstrap.less')
    link(rel='stylesheet', href='/css/angular-ui.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet/less', href='/less/styles.less')
    link(rel='stylesheet/less', href='/less/bootstrap/responsive.less')

    script(src='js/lib/plugins/less-1.3.3.min.js')
   
  body
    block body