/* app css stylesheet */

html {
  font-family: 'normal';
  height: 100%;
}

body {
  height: 100%;
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body:after {
    /*display: none; /* comment this line for debugging purposes */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
}

.copyright {
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #333;
}

.footerContentRight {
  margin-top: 10px;
  float:right;
}

.footerContentLeft {
  margin-top: 10px;
  float:left;
  margin-right: 15px;
}

.allRights {
  width:100%;
  margin-top: 10px;
  float:left;
  text-align: center;
  font-size: 12px;
}

.twitterLink {
  margin-left: 5px;
}

.makeGrey {
  color: #ccc;
}
















/*
.headerWide {
  width:100%;
  background-color: #fff;
  margin-bottom: 5px;
}

.header {
  background-color: #fff;
}

.header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  text-align: center;
  font-size: 50px;
  color: #ba1820;
  font-weight: bold;
  width:100%;
  margin: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-transform: 
}

.header h2 {
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: #AAA;
  width:100%;
  margin: 0;
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: -5px;
}

.subheader {
  background-color: #fff;
  margin-bottom: 20px;
}

.subheader h3 {
  float: left;
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  font-style: italic;
  color: #000;
  margin: 0 20px;
}

.navigation {
  background-color: #fff;
  padding: 20px;
}

.banners {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 15px;
  margin-bottom: 2px;
}

.banners img {
  margin-bottom: 5px;
}

.twitter {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 15px;
  margin-bottom: 2px;
}

.search {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 2px;
}

.search .searchField {
  width:246px;
  margin-bottom: 0px;
}

.post {
  min-height:550px;
}

.post .title {
  background-color: #fff;
  padding: 25px 20px;
  margin-bottom: 2px;
  margin-top: 0px;
}

.post .bottomlink {
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 2px;
}

.post .bottomlink .visit {
  display:block;
  text-align: right;
  text-transform: uppercase;
  padding: 20px;
}

.post .body {
  background-color: #fff;
}

.post .body .thum img {
  padding: 20px 0 0 20px;
  width:280px;
}

.post .body .ratings {
  padding-top: 20px;
}

.post .body .ratings h5 {
  text-transform: uppercase;
}

.post .body .ratings .ratingLabel {
  margin-bottom: 0px;
  padding-left: 5px;
}

.post .body .images {
  padding:20px;
}

.post .body .images .item {
  width:286px;
  float:left;
  padding: 2px;
}

.post .body .description {
  margin: 10px 20px ;
  background-color: #EEE; 
}

.post .body .description .content {
  padding: 5px;
}

.defaultBar {
  fill:#ddd;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

*/





















@media (max-width: 480px) {

  html {
    font-family: "phone";
  }

  body:after {
    content: none;
  }

  #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

  .footerContentRight {
    margin-top: 10px;
    float:left;
    color: #aaa;
    margin-right: 15px;
  }

/*
  .average {
    margin-bottom: 0px;
    height: 100px;
  }

  .average .value {
    font-size: 50px;
    padding-top: 25px;
  }

  .views .value {
    font-size: 50px;
  }

  .submitButton {
    margin-left: 0px;
    width:250px;
  }

  .getonthelist {
    min-height: 150px;
  }

  .uploadButton {
    display:block;
    width:100%;
  }

  .gotlButton {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .formRow .formInputs {
    width:250px;
    margin: 0 auto;
    margin-bottom: 0px;
    height:100%;
  }

  .formRow .formLabel {
    display:block;
    float:none;
    width:100%;
    text-align: center;
  }

  .formRow .formControls {
    float:none;
    margin-left: 0px;
    width:100%;
  }

  .formRow .fullWidth {
    width:236px;
  }

  .formRow .halfWidth {
    width:111px;
  }

  .formRow .quarterWidth {
    width:62px;
  }

  .formRow .threeQuarterWidth {
    width:160px;
  }
  */

}