@osjYellow: #ffd35f;
@osjBlue: #75cee3;
@osjGreen: #32b88d;
@osjLightGrey: #fafafa;
@osjDarkGrey: #ccc;
@osjBlack: #000;
//@osjAccent: #455860;
@osjAccent: #32b88d;
@osjErrorText: #ed4732;

.topStripe {
  height:5px;
  width:100%;
  background-color: @osjAccent; 
}

.floatLeft {
  float:left;
}

.floatRight {
  float:right;
}

//------------ HEADER

.headerButtons {
  margin-top: 30px;

  .homeBtn {
    float:left;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color:#333;
    text-decoration: none;
  }

  .menuBtn {
    float:left;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    color:#333;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 8px;
  }

  .charityBtn {
    float:right;
  }
}


//------------- BODY
.bodyContent {
  margin-top: 10px;
}

.menuThumb {
  display: block;
  float:left;
  height:200px;
  margin-right: 2px;
  margin-bottom: 2px;
  overflow: hidden;
  img {
    height: 200px;
    width: auto;
  }
}

.mainImage {
  float:left;
  img {
    height: 640px;
    width: auto;
  }
  margin-bottom: 10px;
}

.info {
  float:left;
  display: block-inline;
  text-transform: uppercase;
  color: #333; 
}

.filters {
  float:left;
  a {
    text-transform: uppercase;
    color: #ccc; 
    font-weight: bold;
  }
  a:hover {
    color: @osjAccent;
    text-decoration: none;
  }
  .active {
    color: #333;
  }
  .filter {
    float:left;
    margin-right: 20px;
  }
}

.adminThumb {
  img {
    height: 50px;
    width: auto;
  }
}

.imageThumb {
  display: block;
  float:left;
  height:70px;
  margin-right: 2px;
  margin-bottom: 2px;
  overflow: hidden;
  img {
    height: 70px;
    width: auto;
  }
}